* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f6f6f6;
}

.ulfix {
    list-style-type: none;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background: #ff7f50;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.navbar .logo {
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar-link {
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar-link:hover {
    background-color: #ff6347;
}

.header {
    background-color: #ffa07a;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.header img {
    max-width: 100%;
    height: auto;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.box {
    flex: 0 0 calc(33.33% - 20px);
    background: #ffb6c1;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.box img {
    display: block; 
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container {
        padding: 20px 10px;
    }

    .boxes .box {
        flex: 0 0 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .boxes .box {
        flex: 0 0 100%;
    }
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff6347;
}


.faq-btn,
.contact-btn {
    background-color: #ff6347;
}

.faq-btn:hover,
.contact-btn:hover {
    background-color: #ff4d36;
}

.fontawesome-list {
    position: fixed;
    bottom: 20px; 
    left: 20px;
    z-index: 1000; 
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px; 
}



.fontawesome-list li {
    display: inline-block;
    margin-right: 10px;
}

.fontawesome-list a {
    font-size: 28px; 
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background: #555;
    color: #fff;
    text-align: center;
}

